{
    cats:[
        <!--#for $cat in $slotinfo#-->
        {
            name: '$cat.name',
            mode: '$cat.pp',
            priority: '$cat.priority',
            path: '$cat.dir',
            groups: '$cat.newzbin'
        },
        <!--#end for#-->
    ]
}