{
    success: true,
    options:{
        endjob: $email_endjob,
        emailfull: $email_full,
        emaildir: '$email_dir'
    },
    server:{
        stmp: '$email_server',
        mailto: '$email_to',
        mailfrom: '$email_from',
        login: '$email_account',
        password: '$email_pwd'
    }
}