{
    success: true,
    userpath:'$my_home',
    rootpath:'$my_lcldata',
    user:{
        complete: '$complete_dir',
        incomplete: '$download_dir',
        nzbfold: '$dirscan_dir',
        spacelimit: '$download_free',
        permissions: '$permissions',
        scnainterval: '$dirscan_speed',
        script: '$script_dir',
        emailtmpl: '$email_dir'
    },
    system:{
        cache:'$cache_dir',
        logs:'$log_dir',
        backup:'$nzb_backup_dir'
    }
}