{
    success: true,
    form:
    {
        name: 'fullform',
        action: 'saveGeneral',
        method: 'post'
    },
    general:
    {
        host: '$host',
        port: '$port',
        username: '$username',
        password: '$password',
        httpsEnable: '$enable_https',
        httpsPort: '$https_port',
        httpsCert: '$https_cert',
        httpsKey: '$https_key',
        limitCache: '$cache_limit',
        cleanext: '$cleanup_list',
        APIkeyDisable: $disable_api_key,
        interfaces1:[
            <!--#for $interface in $web_list#-->
                ['$interface','$interface'],
            <!--#end for#-->
        ],
        interfaces2:[
            <!--#for $interface in $web_list2#-->
                ['$interface','$interface'],
            <!--#end for#-->
        ],
        languages:[
            <!--#for $lang in $lang_list#-->
                    ['$lang[0]','$lang[1]'],
            <!--#end for#-->
        ]
    },
    language: '$language',
    if1: '$web_dir',
    if2: '$web_dir2',
    speedLimit: '$bandwidth_limit'
}