<script type="text/javascript">
    Ext.getCmp('addServButton').on('click', function () {
        Ext.getCmp('serversGrid').getSelectionModel().clearSelections()
        Ext.getCmp('servEdit').getForm().reset();
        Ext.getCmp('serverName').hide();
        Ext.getCmp("servEdit").expand();
    });

    Ext.onReady(function() {
        loadConfig(false);
    });
    
</script>